In [13]:
import pandas as pd

invoice = pd.read_csv('./invoices.csv', dtype={'billing_phone':str})

invoice

     invoice_number invoice_date  billing_phone   total
0                16   2021-09-10  +250766666601  1980.0
1                77   2023-01-18  +250766666601   792.0
2               149   2023-04-08  +250766666601   297.0
3               153   2024-02-19  +250766666601   198.0
4               182   2020-07-07  +250766666601   495.0
..              ...          ...            ...     ...
513             121   2021-09-12  +250766666659   396.0
514             155   2022-01-03  +250766666659  1089.0
515             220   2024-02-14  +250766666659   396.0
516             599   2023-07-02  +250766666659  1188.0
517             607   2024-02-28  +250766666659    99.0

[518 rows x 4 columns]

In [12]:
import pandas as pd

sales = pd.read_csv('./SALES.csv', dtype={'phone_number':str})
sales['first_name'].unique()


for x in sales.columns:
    print(x)

Unnamed: 0
first_name
last_name
country
phone_number
sales_contact_code
invoice_number
invoice_date
total

In [10]:
sales['first_name'].value_counts()

first_name
Laura        24
Mark         22
Richard      21
Steven       20
Victor       18
Amy          17
Kelly        15
Kimberly     14
Anita        13
Debbie       13
Leah         13
Jennifer     13
Tiffany      12
Lee          12
Nathan       12
Latoya       12
Brian        12
Daniel       12
Sara         11
Wendy        11
Cheyenne     11
Laurie       11
Elizabeth    11
Linda        11
Kristin      10
Patrick      10
Chloe        10
Jonathan     10
Dorothy      10
Andrew       10
Brandi       10
James         9
Rachel        9
Brandon       9
Paul          9
Brittany      9
Aaron         9
Ronald        9
Amber         9
Casey         8
Stephanie     8
Trevor        8
Anthony       7
Gerald        4
Name: count, dtype: int64

# normalized out put

In [14]:
sales['phone_number'].value_counts( normalize=True, dropna=False) * 100

phone_number
NaN              3.474903
+250766666613    2.895753
+250766666657    2.509653
+250766666601    2.509653
+250766666646    2.509653
+250766666630    2.509653
+250766666634    2.509653
+250766666658    2.509653
+250766666643    2.316602
+250766666633    2.316602
+250766666620    2.316602
+250766666626    2.316602
+250766666610    2.316602
+250766666617    2.316602
+250766666622    2.316602
+250766666636    2.123552
+250766666612    2.123552
+250766666631    2.123552
+250766666602    2.123552
+250766666621    2.123552
+250766666644    2.123552
+250766666642    2.123552
+250766666614    1.930502
+250766666651    1.930502
+250766666625    1.930502
+250766666649    1.930502
+250766666637    1.930502
+250766666628    1.930502
+250766666655    1.930502
+250766666645    1.930502
+250766666609    1.930502
+250766666623    1.930502
+250766666603    1.737452
+250766666647    1.737452
+250766666639    1.737452
+250766666641    1.737452
+250766666627    1.737452
+250766666607    1.737452
+250766666604    1.737452
+250766666638    1.737452
+250766666615    1.737452
+250766666619    1.737452
+250766666624    1.544402
+250766666616    1.544402
+250766666659    1.544402
+250766666632    1.544402
+250766666618    1.544402
+250766666608    1.351351
+250766666656    0.965251
+250766666629    0.772201
Name: proportion, dtype: float64

# filtering

In [15]:
sales.shape[0] # number of rows

518

In [16]:
sales.shape[1]

9

In [18]:
names = ['John', 'Ben', 'Lilly','Alice', 'bob']
names[2]

'Lilly'

In [19]:
names[len(names)-1]

'bob'

In [29]:
names[:-3]

['John', 'Ben']

In [34]:
sales.tail(sales.shape[0])

,Unnamed: 0,first_name,last_name,country,phone_number,sales_contact_code,invoice_number,invoice_date,total
0,0,Anita,Ruiz,Canada,+250766666657,3,47,2021-04-02,99.0
1,1,Anita,Ruiz,Canada,+250766666657,3,68,2020-12-17,396.0
2,2,Anita,Ruiz,Canada,+250766666657,3,157,2023-06-03,1485.0
3,3,Anita,Ruiz,Canada,+250766666657,3,158,2022-05-03,198.0
4,4,Anita,Ruiz,Canada,+250766666657,3,214,2023-04-17,594.0
...,...,...,...,...,...,...,...,...,...
513,513,Latoya,Andersen,Canada,+250766666610,4,352,2022-06-02,99.0
514,514,Latoya,Andersen,Canada,+250766666610,4,406,2020-07-26,594.0
515,515,Latoya,Andersen,Canada,+250766666610,4,482,2022-03-24,396.0
516,516,Latoya,Andersen,Canada,+250766666610,4,495,2023-07-21,1683.0
517,517,Latoya,Andersen,Canada,+250766666610,4,534,2023-01-31,693.0

# data frame slicing

In [48]:
ass = sales.iloc[100:150, :]

# ass.shape
ass

,Unnamed: 0,first_name,last_name,country,phone_number,sales_contact_code,invoice_number,invoice_date,total
100,100,Richard,Williams,Brazil,+250766666659,5,599,2023-07-02,1188.0
101,101,Richard,Williams,Brazil,+250766666659,5,607,2024-02-28,99.0
102,102,Kristin,Martin,USA,+250766666637,5,40,2022-03-31,693.0
103,103,Kristin,Martin,USA,+250766666637,5,196,2021-05-19,1188.0
104,104,Kristin,Martin,USA,+250766666637,5,273,2021-03-26,792.0
105,105,Kristin,Martin,USA,+250766666637,5,308,2023-04-21,891.0
106,106,Kristin,Martin,USA,+250766666637,5,349,2024-03-15,99.0
107,107,Kristin,Martin,USA,+250766666637,5,426,2022-11-04,198.0
108,108,Kristin,Martin,USA,+250766666637,5,457,2023-09-17,495.0
109,109,Kristin,Martin,USA,+250766666637,5,485,2022-07-10,792.0
110,110,Kristin,Martin,USA,+250766666637,5,540,2023-06-04,990.0
111,111,Kristin,Martin,USA,+250766666637,5,566,2023-11-19,594.0
112,112,Ronald,Lee,France,+250766666638,4,11,2021-12-29,990.0
113,113,Ronald,Lee,France,+250766666638,4,59,2022-11-15,792.0
114,114,Ronald,Lee,France,+250766666638,4,203,2021-07-11,792.0
115,115,Ronald,Lee,France,+250766666638,4,239,2022-02-05,990.0
116,116,Ronald,Lee,France,+250766666638,4,259,2021-12-21,792.0
117,117,Ronald,Lee,France,+250766666638,4,264,2022-02-05,891.0
118,118,Ronald,Lee,France,+250766666638,4,363,2023-12-12,693.0
119,119,Ronald,Lee,France,+250766666638,4,435,2023-08-12,891.0
120,120,Ronald,Lee,France,+250766666638,4,508,2022-08-24,1683.0
121,121,Brian,Williams,Brazil,+250766666643,3,20,2020-05-19,990.0
122,122,Brian,Williams,Brazil,+250766666643,3,53,2020-04-06,891.0
123,123,Brian,Williams,Brazil,+250766666643,3,269,2021-03-28,495.0
124,124,Brian,Williams,Brazil,+250766666643,3,314,2024-02-04,495.0
125,125,Brian,Williams,Brazil,+250766666643,3,318,2022-09-04,396.0
126,126,Brian,Williams,Brazil,+250766666643,3,355,2020-09-22,198.0
127,127,Brian,Williams,Brazil,+250766666643,3,359,2024-03-13,891.0
128,128,Brian,Williams,Brazil,+250766666643,3,374,2022-04-01,792.0
129,129,Brian,Williams,Brazil,+250766666643,3,428,2020-09-24,1782.0
130,130,Brian,Williams,Brazil,+250766666643,3,481,2022-02-01,396.0
131,131,Brian,Williams,Brazil,+250766666643,3,489,2020-04-26,495.0
132,132,Brian,Williams,Brazil,+250766666643,3,512,2023-05-05,1089.0
133,133,Trevor,Smith,Canada,+250766666618,5,1,2020-12-14,693.0
134,134,Trevor,Smith,Canada,+250766666618,5,4,2021-03-01,792.0
135,135,Trevor,Smith,Canada,+250766666618,5,9,2023-04-23,891.0
136,136,Trevor,Smith,Canada,+250766666618,5,50,2022-06-26,1089.0
137,137,Trevor,Smith,Canada,+250766666618,5,187,2022-07-22,792.0
138,138,Trevor,Smith,Canada,+250766666618,5,372,2020-07-01,1188.0
139,139,Trevor,Smith,Canada,+250766666618,5,448,2022-07-25,1386.0
140,140,Trevor,Smith,Canada,+250766666618,5,486,2020-11-16,198.0
141,141,Laura,Stewart,France,+250766666658,4,33,2021-04-06,99.0
142,142,Laura,Stewart,France,+250766666658,4,82,2023-01-04,1386.0
143,143,Laura,Stewart,France,+250766666658,4,100,2020-10-07,297.0
144,144,Laura,Stewart,France,+250766666658,4,140,2022-03-01,693.0
145,145,Laura,Stewart,France,+250766666658,4,146,2021-12-01,198.0
146,146,Laura,Stewart,France,+250766666658,4,246,2024-01-23,1782.0
147,147,Laura,Stewart,France,+250766666658,4,285,2021-03-17,594.0
148,148,Laura,Stewart,France,+250766666658,4,294,2020-08-23,1089.0
149,149,Laura,Stewart,France,+250766666658,4,320,2022-04-01,693.0

# Lock

In [51]:
sales.loc[10:20, 'Unnamed: 0':'country']

    Unnamed: 0 first_name  last_name         country
10          10      Anita       Ruiz          Canada
11          11      Anita       Ruiz          Canada
12          12      Anita       Ruiz          Canada
13          13   Kimberly     Taylor  United Kingdom
14          14   Kimberly     Taylor  United Kingdom
15          15   Kimberly     Taylor  United Kingdom
16          16   Kimberly     Taylor  United Kingdom
17          17   Kimberly     Taylor  United Kingdom
18          18     Daniel  Wilkerson             USA
19          19     Daniel  Wilkerson             USA
20          20     Daniel  Wilkerson             USA

# concrete exapmle

In [55]:
sales_sample = sales.sample(30)

sales_sample.iloc[:10, :]

,Unnamed: 0,first_name,last_name,country,phone_number,sales_contact_code,invoice_number,invoice_date,total
401,401,James,Gonzales,USA,+250766666647,3,65,2021-12-20,99.0
325,325,Brittany,Richards,Germany,+250766666604,5,104,2022-04-24,495.0
421,421,Leah,Boyer,Brazil,+250766666601,4,153,2024-02-19,198.0
344,344,Laurie,Hanson,France,+250766666642,5,12,2020-12-15,990.0
283,283,Lee,Serrano,Canada,+250766666633,4,85,2021-02-26,594.0
281,281,Lee,Serrano,Canada,+250766666633,4,34,2023-08-24,594.0
217,217,Rachel,Burke,Denmark,+250766666619,4,51,2021-01-17,99.0
190,190,Linda,Smith,USA,+250766666621,3,322,2023-10-12,792.0
46,46,Kimberly,Martinez,Canada,+250766666639,4,154,2021-07-06,1089.0
475,475,Kelly,Williams,USA,+250766666613,5,532,2022-05-31,891.0

# FILTERING

In [56]:
sales[sales['first_name'] == 'Anita']

,Unnamed: 0,first_name,last_name,country,phone_number,sales_contact_code,invoice_number,invoice_date,total
0,0,Anita,Ruiz,Canada,+250766666657,3,47,2021-04-02,99.0
1,1,Anita,Ruiz,Canada,+250766666657,3,68,2020-12-17,396.0
2,2,Anita,Ruiz,Canada,+250766666657,3,157,2023-06-03,1485.0
3,3,Anita,Ruiz,Canada,+250766666657,3,158,2022-05-03,198.0
4,4,Anita,Ruiz,Canada,+250766666657,3,214,2023-04-17,594.0
5,5,Anita,Ruiz,Canada,+250766666657,3,228,2024-02-03,297.0
6,6,Anita,Ruiz,Canada,+250766666657,3,232,2020-09-30,891.0
7,7,Anita,Ruiz,Canada,+250766666657,3,254,2021-10-26,891.0
8,8,Anita,Ruiz,Canada,+250766666657,3,324,2022-05-28,693.0
9,9,Anita,Ruiz,Canada,+250766666657,3,335,2023-12-08,891.0
10,10,Anita,Ruiz,Canada,+250766666657,3,351,2020-09-28,693.0
11,11,Anita,Ruiz,Canada,+250766666657,3,407,2022-01-06,693.0
12,12,Anita,Ruiz,Canada,+250766666657,3,527,2023-05-02,495.0

In [59]:
sales[(sales['sales_contact_code']==3)& (sales['country'] == 'Canada')]

,Unnamed: 0,first_name,last_name,country,phone_number,sales_contact_code,invoice_number,invoice_date,total
0,0,Anita,Ruiz,Canada,+250766666657,3,47,2021-04-02,99.0
1,1,Anita,Ruiz,Canada,+250766666657,3,68,2020-12-17,396.0
2,2,Anita,Ruiz,Canada,+250766666657,3,157,2023-06-03,1485.0
3,3,Anita,Ruiz,Canada,+250766666657,3,158,2022-05-03,198.0
4,4,Anita,Ruiz,Canada,+250766666657,3,214,2023-04-17,594.0
5,5,Anita,Ruiz,Canada,+250766666657,3,228,2024-02-03,297.0
6,6,Anita,Ruiz,Canada,+250766666657,3,232,2020-09-30,891.0
7,7,Anita,Ruiz,Canada,+250766666657,3,254,2021-10-26,891.0
8,8,Anita,Ruiz,Canada,+250766666657,3,324,2022-05-28,693.0
9,9,Anita,Ruiz,Canada,+250766666657,3,335,2023-12-08,891.0
10,10,Anita,Ruiz,Canada,+250766666657,3,351,2020-09-28,693.0
11,11,Anita,Ruiz,Canada,+250766666657,3,407,2022-01-06,693.0
12,12,Anita,Ruiz,Canada,+250766666657,3,527,2023-05-02,495.0
64,64,Wendy,Brown,Canada,+250766666631,3,6,2022-11-23,792.0
65,65,Wendy,Brown,Canada,+250766666631,3,10,2023-05-24,990.0
66,66,Wendy,Brown,Canada,+250766666631,3,63,2024-02-11,1287.0
67,67,Wendy,Brown,Canada,+250766666631,3,70,2021-02-26,1386.0
68,68,Wendy,Brown,Canada,+250766666631,3,88,2021-02-28,1683.0
69,69,Wendy,Brown,Canada,+250766666631,3,105,2020-04-10,594.0
70,70,Wendy,Brown,Canada,+250766666631,3,394,2021-09-07,990.0
71,71,Wendy,Brown,Canada,+250766666631,3,404,2024-01-25,198.0
72,72,Wendy,Brown,Canada,+250766666631,3,453,2020-03-22,693.0
73,73,Wendy,Brown,Canada,+250766666631,3,538,2022-11-24,297.0
74,74,Wendy,Brown,Canada,+250766666631,3,594,2024-02-16,990.0
441,441,Jonathan,David,Canada,+250766666628,3,118,2020-06-23,396.0
442,442,Jonathan,David,Canada,+250766666628,3,145,2023-02-09,495.0
443,443,Jonathan,David,Canada,+250766666628,3,192,2023-06-22,396.0
444,444,Jonathan,David,Canada,+250766666628,3,303,2022-03-25,1089.0
445,445,Jonathan,David,Canada,+250766666628,3,353,2023-01-24,1386.0
446,446,Jonathan,David,Canada,+250766666628,3,365,2023-07-16,396.0
447,447,Jonathan,David,Canada,+250766666628,3,377,2021-08-04,693.0
448,448,Jonathan,David,Canada,+250766666628,3,455,2022-10-01,792.0
449,449,Jonathan,David,Canada,+250766666628,3,478,2022-06-14,297.0
450,450,Jonathan,David,Canada,+250766666628,3,577,2020-12-27,1683.0