In [1]:
import sqlite3
import pandas as pd
db = 'sales.db'

#Run queries on database
def run_query(my_query):
    with sqlite3.connect(db) as conn:
        return pd.read_sql(my_query, conn)

#Execute queries on database
def run_command(my_command):
    with sqlite3.connect(db) as conn:
        conn.isolation_level = None
        conn.execute(my_command)
    print('✔️ SUCCESS')
    
#Insert a dataframe into a table
def insert_dataframe(df, table_name):
    
    with sqlite3.connect(db) as conn:
        table_columns = run_query(f'select * from {table_name}').columns
        df.columns = table_columns
        df.to_sql(table_name, conn, if_exists='append', index=False)
   
    print('✔️ SUCCESS')

In [2]:
create_employees_table_query = '''
CREATE TABLE IF NOT EXISTS employees (
    Id INTEGER PRIMARY KEY,
    employee_number INTEGER,
    last_name TEXT,
    first_name TEXT,
    line_manager TEXT,
    title TEXT
);
'''

run_command(create_employees_table_query)

print("✔️ Employees table created successfully.")

✔️ SUCCESS
✔️ Employees table created successfully.

In [3]:
create_customers_table_query = '''
CREATE TABLE IF NOT EXISTS customers (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    country TEXT,
    phone_number TEXT,
    sales_contact_code TEXT
);
'''

run_command(create_customers_table_query)

print("✔️ Customers table created successfully.")

✔️ SUCCESS
✔️ Customers table created successfully.

In [4]:
create_invoice_items_table_query = '''
CREATE TABLE IF NOT EXISTS invoice_items (
    id INTEGER PRIMARY KEY,
    invoice_id INTEGER,
    product_code TEXT,
    quantity INTEGER
);
'''
run_command(create_invoice_items_table_query)

print("✔️ Invoice Items table created successfully.")

✔️ SUCCESS
✔️ Invoice Items table created successfully.

In [5]:
create_invoices_table_query = '''
CREATE TABLE IF NOT EXISTS invoices (
    id INTEGER PRIMARY KEY,
    invoice_number TEXT,
    invoice_date TEXT,
    billing_phone TEXT,
    total REAL
);
'''
run_command(create_invoices_table_query)

print("✔️ Invoices table created successfully.")

✔️ SUCCESS
✔️ Invoices table created successfully.

In [6]:
csv_file = 'employees.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file)

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Insert the DataFrame into a table in the database
df.to_sql('employees', conn, if_exists='append', index=False)

# Close the connection
conn.close()

print("✔️ Data from CSV file inserted into database successfully.")


import pandas as pd
import sqlite3

# Define the database file
db = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Define the SQL query to select all data from the 'employees' table
sql_query = 'SELECT * FROM employees'

# Execute the SQL query and read the result into a DataFrame
df_from_db = pd.read_sql(sql_query, conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df_from_db)

✔️ Data from CSV file inserted into database successfully.
    Id  employee_number last_name first_name line_manager            title
0    1                1      Ross    Shannon         None  General Manager
1    2                2   Griffin       Mark          1.0    Sales Manager
2    3                3   Estrada   Patricia          2.0    Sales Officer
3    4                4      West     Alicia          2.0    Sales Officer
4    5                5  Petersen    Cassidy          2.0    Sales Officer
5    6                6     Gomez    Charles          1.0       IT Manager
6    7                7     Berry      Alexa          6.0       IT Officer
7    8                1      Ross    Shannon         None  General Manager
8    9                2   Griffin       Mark          1.0    Sales Manager
9   10                3   Estrada   Patricia          2.0    Sales Officer
10  11                4      West     Alicia          2.0    Sales Officer
11  12                5  Petersen    Cassidy          2.0    Sales Officer
12  13                6     Gomez    Charles          1.0       IT Manager
13  14                7     Berry      Alexa          6.0       IT Officer
14  15                1      Ross    Shannon         None  General Manager
15  16                2   Griffin       Mark          1.0    Sales Manager
16  17                3   Estrada   Patricia          2.0    Sales Officer
17  18                4      West     Alicia          2.0    Sales Officer
18  19                5  Petersen    Cassidy          2.0    Sales Officer
19  20                6     Gomez    Charles          1.0       IT Manager
20  21                7     Berry      Alexa          6.0       IT Officer
21  22                1      Ross    Shannon         None  General Manager
22  23                2   Griffin       Mark          1.0    Sales Manager
23  24                3   Estrada   Patricia          2.0    Sales Officer
24  25                4      West     Alicia          2.0    Sales Officer
25  26                5  Petersen    Cassidy          2.0    Sales Officer
26  27                6     Gomez    Charles          1.0       IT Manager
27  28                7     Berry      Alexa          6.0       IT Officer

In [7]:
csv_file = 'customers.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file)

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Insert the DataFrame into a table in the database
df.to_sql('customers', conn, if_exists='append', index=False)

# Close the connection
conn.close()

print("✔️ Data from CSV file inserted into database successfully.")


import pandas as pd
import sqlite3

# Define the database file
db = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Define the SQL query to select all data from the 'employees' table
sql_query = 'SELECT * FROM customers'

# Execute the SQL query and read the result into a DataFrame
df_from_db = pd.read_sql(sql_query, conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df_from_db)

✔️ Data from CSV file inserted into database successfully.
      id first_name  last_name         country  phone_number  \
0      1      Anita       Ruiz          Canada  250766666657
1      2   Kimberly     Taylor  United Kingdom  250766666656
2      3     Daniel  Wilkerson             USA  250766666622
3      4       Mark   Martinez         Finland  250766666617
4      5   Kimberly   Martinez          Canada  250766666639
..   ...        ...        ...             ...           ...
145  146   Cheyenne    Schultz        Portugal  250766666612
146  147      Kelly   Williams             USA  250766666613
147  148       Sara        Lee             USA  250766666636
148  149     Victor    Mendoza          France  250766666605
149  150     Latoya   Andersen          Canada  250766666610

    sales_contact_code
0                    3
1                    3
2                    5
3                    4
4                    4
..                 ...
145                  5
146                  5
147                  5
148                  3
149                  4

[150 rows x 6 columns]

In [8]:
csv_file = 'invoice_items.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file)

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Insert the DataFrame into a table in the database
df.to_sql('invoice_items', conn, if_exists='append', index=False)

# Close the connection
conn.close()

print("✔️ Data from CSV file inserted into database successfully.")


import pandas as pd
import sqlite3

# Define the database file
db = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Define the SQL query to select all data from the 'employees' table
sql_query = 'SELECT * FROM invoice_items'

# Execute the SQL query and read the result into a DataFrame
df_from_db = pd.read_sql(sql_query, conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df_from_db)

OperationalError: table invoice_items has no column named invoice_id

In [ ]:
csv_file = 'invoices.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file)

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Insert the DataFrame into a table in the database
df.to_sql('invoices', conn, if_exists='append', index=False)

# Close the connection
conn.close()

print("✔️ Data from CSV file inserted into database successfully.")


import pandas as pd
import sqlite3

# Define the database file
db = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db)

# Define the SQL query to select all data from the 'employees' table
sql_query = 'SELECT * FROM invoices'

# Execute the SQL query and read the result into a DataFrame
df_from_db = pd.read_sql(sql_query, conn)

# Close the connection
conn.close()

# Print the DataFrame
print(df_from_db)

✔️ Data from CSV file inserted into database successfully.
      id invoice_number invoice_date billing_phone   total
0      1             16   2021-09-10  250766666601  1980.0
1      2             77   2023-01-18  250766666601   792.0
2      3            149   2023-04-08  250766666601   297.0
3      4            153   2024-02-19  250766666601   198.0
4      5            182   2020-07-07  250766666601   495.0
..   ...            ...          ...           ...     ...
513  514            121   2021-09-12  250766666659   396.0
514  515            155   2022-01-03  250766666659  1089.0
515  516            220   2024-02-14  250766666659   396.0
516  517            599   2023-07-02  250766666659  1188.0
517  518            607   2024-02-28  250766666659    99.0

[518 rows x 5 columns]

In [ ]:
csv_file = 'products.csv'

df = pd.read_csv(csv_file)

conn = sqlite3.connect(db)

df.to_sql('products', conn, if_exists='append', index=False)

conn.close()

print("✔️ Data from CSV file inserted into database successfully.")


import pandas as pd
import sqlite3

db = 'sales.db'

conn = sqlite3.connect(db)

sql_query = 'SELECT * FROM products'

df_from_db = pd.read_sql(sql_query, conn)

conn.close()

print(df_from_db)

✔️ Data from CSV file inserted into database successfully.
    id product_number                product_name  unit_price
0    1              1         External Hard Drive        99.0
1    2              2  Portable Bluetooth Speaker        99.0
2    3              3                  Power Bank        99.0
3    4              4              Wireless Mouse        99.0
4    5              5                Laptop Stand        99.0
5    6              6       Wireless Charging Pad        99.0
6    7              7                      WebCam        99.0
7    8              8         WiFi Range Extender        99.0
8    9              9                 Flash Drive        99.0
9   10             10           Wireless Keyboard        99.0
10  11              1         External Hard Drive        99.0
11  12              2  Portable Bluetooth Speaker        99.0
12  13              3                  Power Bank        99.0
13  14              4              Wireless Mouse        99.0
14  15              5                Laptop Stand        99.0
15  16              6       Wireless Charging Pad        99.0
16  17              7                      WebCam        99.0
17  18              8         WiFi Range Extender        99.0
18  19              9                 Flash Drive        99.0
19  20             10           Wireless Keyboard        99.0

In [ ]:
import sqlite3
import pandas as pd

db = 'sales.db'

conn = sqlite3.connect(db)

query = '''
SELECT
    sales_contact_code AS SalesOfficerCode,
    COUNT(*) AS TotalCustomers
FROM
    customers
GROUP BY
    sales_contact_code
ORDER BY
    TotalCustomers DESC;
'''

performance_df = pd.read_sql(query, conn)

conn.close()

print(performance_df)

  SalesOfficerCode  TotalCustomers
0                3              22
1                5              18
2                4              10

In [ ]:
import sqlite3

# Define the database file
db_file = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Define the SQL query to drop the view if it already exists
drop_view_query = 'DROP VIEW IF EXISTS product_sales_summary;'

# Execute the query to drop the view
cursor.execute(drop_view_query)

# Define the SQL query to create the view
create_view_query = '''
CREATE VIEW product_sales_summary AS
SELECT
    ii.product_code,
    SUM(ii.quantity) AS total_quantity,
    SUM(ii.quantity * p.unit_price) AS total_amount
FROM
    invoice_items AS ii
JOIN
    products AS p ON ii.product_code = p.product_code
GROUP BY
    ii.product_code;
'''

# Execute the query to create the view
cursor.execute(create_view_query)

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [ ]:
import sqlite3

# Define the database file
db_file = 'sales.db'

# Close any existing connection
try:
    conn.close()
except NameError:
    pass  # No existing connection to close

# Establish a new connection to the SQLite database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Drop the existing invoice_items table if it exists
cursor.execute("DROP TABLE IF EXISTS invoice_items")

# Create the invoice_items table with the correct schema
cursor.execute('''
CREATE TABLE IF NOT EXISTS invoice_items (
    id INTEGER PRIMARY KEY,
    product_code TEXT,
    quantity INTEGER
)
''')

# Commit the transaction
conn.commit()

# Insert sample data into the invoice_items table
invoice_items_data = [
    (1, 'P001', 5),
    (2, 'P002', 10),
    (3, 'P001', 3),
    # Add more sample data as needed
]
cursor.executemany('INSERT INTO invoice_items VALUES (?, ?, ?)', invoice_items_data)

# Drop the existing products table if it exists
cursor.execute("DROP TABLE IF EXISTS products")

# Create the products table with the correct schema
cursor.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY,
    product_code TEXT,
    product_name TEXT,
    unit_price REAL
)
''')

# Insert sample data into the products table
products_data = [
    (1, 'P001', 'Product 1', 10.99),
    (2, 'P002', 'Product 2', 20.99),
    # Add more sample data as needed
]
cursor.executemany('INSERT INTO products VALUES (?, ?, ?, ?)', products_data)

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [ ]:
import sqlite3

db_file = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Fetch data from the invoice_items table
cursor.execute("SELECT * FROM invoice_items")
invoice_items_data = cursor.fetchall()

# Print the data from the invoice_items table
print("Data from the invoice_items table:")
for row in invoice_items_data:
    print(row)

# Fetch data from the products table
cursor.execute("SELECT * FROM products")
products_data = cursor.fetchall()

# Print the data from the products table
print("\nData from the products table:")
for row in products_data:
    print(row)

# Close the connection
conn.close()

Data from the invoice_items table:
(1, 'P001', 5)
(2, 'P002', 10)
(3, 'P001', 3)

Data from the products table:
(1, 'P001', 'Product 1', 10.99)
(2, 'P002', 'Product 2', 20.99)

In [ ]:
import sqlite3

# Define the database file
db_file = 'sales.db'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# Define the SQL query to display the product performance
display_query = '''
SELECT * FROM product_sales_summary
'''

# Execute the query to display the product performance
cursor.execute(display_query)

# Fetch all rows from the result set
product_performance = cursor.fetchall()

# Print the product performance
print("Product Performance:")
for row in product_performance:
    print(row)

# Close the connection
conn.close()

Product Performance:
('P001', 8, 87.92)
('P002', 10, 209.89999999999998)